{% extends "layout.html" %}

{% block head %}
  
  <title>Sobre - Yuri Resende</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}
{% block content %}

  <div id="wrapper">
    <img src="/images/yuriresende.png" alt="Yuri Resende">
    <h1>Yuri Resende</h1>
    <h2>Web Developper</h2>
    <p>Desenvolvimento de sites, aplicativos e sistemas web utilizando as melhores tecnologias do mercado. <a href="https://twitter.com/yuraum" target="_blank">Twitter</a></p>
  </div>

  <div id="links-footer" class="links">
    <a href="https://github.com/yuuriresende" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/yuri-do-amaral-resende-95775116a/" target="_blank">LinkedIn</a>
  </div>

  <script src="script.js"></script>

  {% endblock %}